asgiref==3.3.4
coverage==5.4
Django==3.2
# Django Debug Tollbar only in development
django-debug-toolbar==3.2
model-mommy==2.0.0
psycopg2-binary==2.8.6
python-decouple==3.4
pytz==2020.5
sqlparse==0.4.1
Unidecode==1.2.0
whitenoise==5.2.0