asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.2
django-debug-toolbar==4.4.6
gunicorn==23.0.0
packaging==24.1
psycopg2-binary==2.9.10
python-decouple==3.8
setuptools==75.3.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
Unidecode==1.3.8
whitenoise==6.8.2
