{% extends 'base/_dashboard_base.html' %}
{% block title %}Novo Ano Escolar{% endblock %}
{% block body_title %}Novo Ano Escolar{% endblock %}
{% block main_content %}
    <div class="container bg-light back02">
        <form method="POST" class="form-group" name="aluno_form" action="">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="ano_escolar_nome">Ano Escolar <span style="color: red;">*</span></label>
                    <select class="form-control" id="ano_escolar_nome" name="ano_escolar_nome" required>
                        {% for ano_escolar in form.ano_escolar_nome %}
                            {{ ano_escolar }}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3 ml-3">
                    <label for="ano_escolar_etapa">Etapa <span style="color: red;">*</span></label>
                    <select class="form-control" id="ano_escolar_etapa" name="ano_escolar_etapa" required>
                        {% for etapa in form.ano_escolar_etapa %}
                            {{ etapa }}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col">
                    <button class="btn btn-dark-blue px-4 shadow-sm" type="submit">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <!-- Lista Anos Escolares cadastrados -->
    <div class="container bg-light back02">
        <div class="row mb-2">
            <div class="col">
                <h6>Anos Escolares cadastrados</h6>
            </div>
        </div>
        {% for ano_l in anos_letivos %}
            <div class="row">
                <div class="col my-1">
                    <h6>{{ ano_l }}</h6>
                </div>
            </div>
            <div class="row my-1">
                {% for ano_e in anos_escolares %}
                    {% if ano_e.ano_escolar_etapa.etapa_basica_ano == ano_l %}
                        <div class="col-md-3 my-1">
                            {{ ano_e }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}