{% extends 'base/_dashboard_base.html' %}
{% block title %}Disciplinas{% endblock %}
{% block body_title %}Disciplinas{% endblock %}
{% block main_content %}
    <div class="container bg-light back02">
        {% for disciplina in object_list %}
            <a class="a-card-min" href="{% url 'disciplina-update' disciplina.pk %}">
            <div class="row">
                <div class="col-md-2 my-1">
                    {{ disciplina.get_disciplina_nome_display }}:
                </div>
                <div class="col-md-4 my-1">
                    {{ disciplina.disciplina_professor }}
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
