{% extends 'base/_dashboard_base.html' %}
{% block title %}Alterar Senha{% endblock %}
{% block body_title %}Alterar Senha{% endblock %}
{% block body_content %}

    <div class="container bg-light back02">

        <form method="post" class="form" autocomplete="off">
        {% csrf_token %}

            <div class="row">
                <div class="col col-5">
                    <div class="form-group">
                        <label for="old_password">Senha atual<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="old_password" name="old_password" required autofocus>
                        <p class="errorlist">{{ form.errors.old_password }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="new_password1">Senha nova<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                        <small id="password-help" class="form-text text-muted">
                            Sua senha precisa conter pelo menos 8 caracteres, não pode ser inteiramente numérica, não pode ser uma senha comum nem parecida com os seus dados.
                        </small>
                        <p class="errorlist">{{ form.errors.new_password1 }}</p>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="new_password2">Repita a senha nova<span style="color: red;">*</span></label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                        <p class="errorlist">{{ form.errors.new_password2 }}</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark-blue px-4 shadow-lg mr-2">Alterar</button>
                <button class="btn btn-dark-blue px-4 shadow-lg" onclick="history.back();">Cancelar</button>
            </div>

        </form>

    </div>

{% endblock %}