{% extends 'base/_base_index.html' %}

{% block title %}Reset da senha{% endblock %}

{% block body_title %}Reset da senha{% endblock %}

{% block body_content %}

    <div class="container back01">
        <p>Esqueceu a sua senha? Escreva o seu email abaixo, será enviado um email com instruções para criar uma nova senha</p>

        <form class="form" method="POST" action="{% url 'password-reset' %}" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col col-md-4">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" required autofocus>
                    </div>
                </div>
            </div>

            <div>
                <button class="btn btn-primary mr-2" type="submit">Reset password</button>
                <a class="btn btn-primary btncustom shadow-lg mr-1" role="button" href="{% url 'index' %}">Cancelar</a>
            </div>
        </form>

    </div>

{% endblock %}