{% extends 'base/_dashboard_base.html' %}
{% block title %}Apagar Usuário{% endblock %}
{% block body_title %}Apagar Usuário{% endblock %}
{% block main_content %}
    <div class="container bg-light back02">
        <h2>{{ object.first_name }} {{ object.last_name }}</h2>
        <p>
        Tem a certeza que deseja apagar este usuário?
        <br>
        Todos os dados serão removidos.
        </p>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn button-del px-4 shadow-lg mr-2">Sim</button>
                <a class="btn btn-dark-blue px-4 shadow-lg mr-1" role="button" href="{% url 'users'%}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}