{% extends 'base/_dashboard_base.html' %}
{% block title %}Alterar Usuário{% endblock %}
{% block body_title %}Alterar Usuário{% endblock %}
{% block main_content %}
    <div class="container bg-light back02">
        <form method="post" class="form" autocomplete="off">
        {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="username">Usuário<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="username" name="username" maxlength="12" required autofocus
                    value="{% if request.POST %}{{ request.POST.username }}{% elif object.username %}{{ object.username }}{% endif %}">
                    <small id="password-help" class="form-text text-muted">
                    Para funcionários utilizar a primeira letra do departamento e o cpf.<br>
                    Para pais e alunos utilizar o CPF.
                    </small>
                    <p class="errorlist">{{ form.errors.username }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="department">Departamento<span style="color: red;">*</span></label>
                    <select class="form-control" id="department" name="department" required>
                        {% for u_type in form.department %}
                            {{ u_type }}
                        {% endfor %}
                    </select>
                    <p class="errorlist">{{ form.errors.department }}</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="first_name">Primeiro nome<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required
                    value="{% if request.POST %}{{ request.POST.first_name }}{% elif object.first_name %}{{ object.first_name }}{% endif %}">
                    <p class="errorlist">{{ form.errors.first_name }}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">Último nome<span style="color: red;">*</span></label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required
                    value="{% if request.POST %}{{ request.POST.last_name }}{% elif object.last_name %}{{ object.last_name }}{% endif %}">
                    <p class="errorlist">{{ form.errors.last_name }}</p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark-blue px-4 shadow-sm mr-2">Alterar</button>
                <a class="btn btn-dark-blue px-4 shadow-lg mr-1" role="button" href="{% url 'users'%}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}