{% extends 'base/_base_index.html' %}
{% block title %}Login{% endblock %}
{% block body_content %}
    <div class="container back01 container-login">
        <h1 class="mb-4">{% block body_title %}Login{% endblock %}</h1>
        <form class="form-signin form-group" method="POST" autocomplete="off" id="form-login">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col">
                    <label for="username">Email</label>
                    <input type="email" id="username" name="username" class="form-control" value="{{ request.POST.username }}" required autofocus>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="password">Senha</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="form-group col">
                    <button class="btn btn-primary mr-2" type="submit">Entrar</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}