{% extends 'base/_base_index.html' %}

{% block title %}Nova senha{% endblock %}

{% block body_title %}Nova senha{% endblock %}

{% block body_content %}

    <div class="container back01">
    <form method="post" class="form" autocomplete="off">
    {% csrf_token %}

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="new_password1">Nova senha<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password1" name="new_password1" required autofocus>
                <small id="password-help" class="form-text text-muted">
                        Sua senha precisa conter pelo menos 8 caracteres, não pode ser inteiramente numérica, não pode ser uma senha comum nem parecida com os seus dados.
                </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="new_password2">Repita a nova senha<span style="color: red;">*</span></label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary shadow-lg" name="next" value="{{ next }}">Salvar</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
        </div>

    </form>
    </div>

{% endblock %}