{% extends 'base/_base_index.html' %}

{% block title %}Confirmação email enviado{% endblock %}

{% block body_title %}Confirmação email enviado{% endblock %}

{% block body_content %}

    <div class="container back01">
        <p>
            Um email foi enviado com instruções para configurar sua senha.
            Se uma conta existe com o email fornecido,
            você receberá a mensagem em breve.
        </p>

        <p>
            Se você não recebeu um email, por favor certifique-se que
            forneceu o endereço que você está cadastrado,
            e verifique sua pasta de spam.
        </p>

        <div>
            <a class="btn btn-primary mr-2" href="{% url 'index' %}">Início</a>
        </div>
    </div>

{% endblock %}