<!-- Footer -->
    <div id="footer">
        <div class="container">
                <header>
                    <h2 class="footer-h2">Contactos</h2>
                    <div class="contact contact-li">
                        <p class="fa fa-mobile-phone"> (+351) 912951631</p>
                        <p><a href="https://antoniocalheirosneves.up.railway.app/" target="_blank" rel="noopener noreferrer" class="fa fa-globe"> antoniocalheirosneves.com</a></p>
                        <p class="fa fa-envelope"> antonio@antoniocalheirosneves.com</p><br>
                        <p class="fa fa-home"> Europe, USA, South America</p>
                    </div>
                </header>
                <ul class="contact">
                    <li><a href="https://github.com/Antonio-Neves" target="_blank"
                        rel="noopener noreferrer" class="fa fa-github"></a></li>
                    <li><a href="https://www.linkedin.com/in/ansistemas/" target="_blank"
                        rel="noopener noreferrer" class="fa fa-linkedin-square"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCrJ78GVGuJnyjDCikZEl1Ng"
                        target="_blank" rel="noopener noreferrer" class="fa fa-youtube"></a></li>
                </ul>
        </div>
    </div>
