{% extends 'webpage/_base_index.html' %}
{% block title %}Inicio{% endblock %}
{% block body_content %}
    {% include 'webpage/_base_header_index.html' %}
    <!-- Footer -->
    {% include 'webpage/_base_footer.html' %}
    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            <a href="https://antoniocalheirosneves.up.railway.app/" target="_blank" rel="noopener noreferrer"> © 2020 Antonio Calheiros Neves</a>
            <a href="https://pixabay.com/pt/users/geralt-9301/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4126483">| Imagem: Gerd Altmann</a>
            <a href="https://pixabay.com/pt/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4126483">| Pixabay</a>
        </div>
    </div>
{% endblock %}
