/* body {
    margin-top: 2%;
} */

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    margin-bottom: 2%;
}

.back01 {
    background: #D9DDDC;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 10px;
}

.back02 {
    /* background: rgba(16, 45, 105, .1); */
    /* background: rgba(0, 0, 0, .2); */
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 10px;
}


.errorlist {
    color: red;
}
