<div class="container back01">
    <h2>Cadastro de aluno(a)</h2>

    <form method="POST" class="form-group" name="aluno_form" action="">
        {% csrf_token %}
        <hr>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div><h4>Identificação</h4></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="aluno_nome">Nome <span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="aluno_nome" name="aluno_nome" value="{{ request.POST.aluno_nome }}" maxlength="100" required>
            </div>
            <div class="form-group col-md-3">
                <label for="aluno_data_nascimento">Data de nascimento <span style="color: red;">*</span></label>
                <input type="date" class="form-control" id="aluno_data_nascimento" name="aluno_data_nascimento" value="{{ request.POST.aluno_data_nascimento }}" required>
            </div>
            <div class="form-group col-md-3">
                <label for="aluno_situacao">Situação do aluno(a) <span style="color: red;">*</span></label>
                <select class="form-control" id="aluno_situacao" name="aluno_situacao" required>
                    {% for situacao in form.aluno_situacao %}
                        {{ situacao }}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- documentos -->
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="aluno_inep">INEP</label>
                <input type="text" class="form-control" id="aluno_inep" name="aluno_inep" value="{{ request.POST.aluno_inep }}" maxlength="12">
            </div>
            <div class="form-group col-md-3">
                <label for="aluno_cpf">CPF</label>
                <input type="text" class="form-control" id="aluno_cpf" name="aluno_cpf" value="{{ request.POST.aluno_cpf }}" maxlength="14">
            </div>
            <div class="form-group col-md-3">
                <label for="aluno_rg">RG</label>
                <input type="text" class="form-control" id="aluno_rg" name="aluno_rg" value="{{ request.POST.aluno_rg }}" maxlength="20">
            </div>
            <div class="form-group col-md-3">
                <label for="aluno_nis">NIS</label>
                <input type="text" class="form-control" id="aluno_nis" name="aluno_nis" value="{{ request.POST.aluno_nis }}" maxlength="11">
            </div>
        </div>
        <div class="form-row justify-content-between">
            <div class="form-group col-md-4">
                <label for="aluno_certidao_nova">Certidão de nascimento (nova)</label>
                <input type="text" class="form-control" id="aluno_certidao_nova" name="aluno_certidao_nova" value="{{ request.POST.aluno_certidao_nova }}" maxlength="40">
            </div>
            <div class="form-group col-md-5">
                <label for="aluno_justificativa_documentos">Justificativa da falta de documentos</label>
                <select class="form-control" id="aluno_justificativa_documentos" name="aluno_justificativa_documentos">
                    {% for justificativa in form.aluno_justificativa_documentos %}
                        {{ justificativa }}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Sexo / Cor -->
        <div class="form-row justify-content-between">
            <div class="form-group col-md-7">
                <div><p class="form-check-label">Cor / Raça <span style="color: red;">*</span></p></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_cor0" name="aluno_cor" value="0" checked {% if request.POST.aluno_cor == "0" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_cor0">Não declarada</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_cor1" name="aluno_cor" value="1" {% if request.POST.aluno_cor == "1" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_cor1">Branca</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_cor2" name="aluno_cor" value="2" {% if request.POST.aluno_cor == "2" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_cor2">Preta</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_cor3" name="aluno_cor" value="3" {% if request.POST.aluno_cor == "3" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_cor3">Parda</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_cor4" name="aluno_cor" value="4" {% if request.POST.aluno_cor == "4" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_cor4">Amarela</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_cor5" name="aluno_cor" value="5" {% if request.POST.aluno_cor == "5" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_cor5">Indígena</label>
                </div>
            </div>
            <div class="form-group col-md-3">
                <div><p class="form-check-label">Sexo <span style="color: red;">*</span></p></div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_sexo1" name="aluno_sexo" value="1" {% if request.POST.aluno_sexo == "1" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_sexo1">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="aluno_sexo2" name="aluno_sexo" value="2" {% if request.POST.aluno_sexo == "2" %}checked="checked"{% endif %}>
                  <label class="form-check-label" for="aluno_sexo2">Feminino</label>
                </div>
            </div>
        </div>
        <!-- Nacionalidade -->
        <hr>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div><h4>Nacionalidade</h4></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="aluno_nacionalidade">Nacionalidade <span style="color: red;">*</span></label>
                <select class="form-control" id="aluno_nacionalidade" name="aluno_nacionalidade" required>
                    {% for nacionalidade in form.aluno_nacionalidade %}
                        {{ nacionalidade }}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="aluno_pais_nascimento">País de nascimento <span style="color: red;">*</span></label>
                <select class="form-control" id="aluno_pais_nascimento" name="aluno_pais_nascimento" required>
                    {% for pais_nascimento in form.aluno_pais_nascimento %}
                        {{ pais_nascimento }}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="aluno_estado_nascimento">Estado de nascimento</label>
                <select class="form-control" id="aluno_estado_nascimento" name="aluno_estado_nascimento" required>
                    {% for estado_nascimento in form.aluno_estado_nascimento %}
                        {{ estado_nascimento }}
                    {% endfor %}
                </select>
                <small id="password-help" class="form-text text-muted">
                    Preencher se a nacionalidade for brasileira.
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="aluno_municipio_nascimento">Municipio de nascimento</label>
                <select class="form-control" id="aluno_municipio_nascimento" name="aluno_municipio_nascimento" required>
                    {% for municipio_nascimento in form.aluno_municipio_nascimento %}
                        {{ municipio_nascimento }}
                    {% endfor %}
                </select>
                <small id="password-help" class="form-text text-muted">
                    Preencher se a nacionalidade for brasileira.
                </small>
            </div>
        </div>
        <!-- Residencia -->
        <hr>
        <div class="form-row">
            <div class="form-group col-md-4">
                <div><h4>Residência</h4></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="aluno_logradouro_residencia">Endereço <span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="aluno_logradouro_residencia" name="aluno_logradouro_residencia" value="{{ request.POST.aluno_logradouro_residencia }}" maxlength="100" required>
            </div>
        </div>



        <button class="btn btn-primary shadow-sm" type="submit">Salvar</button>





    </form>





</div>