{% extends 'base/_dashboard_base.html' %}
{% block title %}Alunos Efetivo{% endblock %}
{% block body_title %}Alunos Efetivo{% endblock %}
{% block main_content %}
    <h1>Alunos Efetivo</h1>
{% endblock %}


{#<ul class="nav nav-tabs" id="myTab" role="tablist">#}
{#  <li class="nav-item" role="presentation">#}
{#    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>#}
{#  </li>#}
{#  <li class="nav-item" role="presentation">#}
{#    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>#}
{#  </li>#}
{#  <li class="nav-item" role="presentation">#}
{#    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>#}
{#  </li>#}
{#</ul>#}
{#<div class="tab-content" id="myTabContent">#}
{#    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>#}
{#        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">#}
{#            <div class="container back02">#}
{#            [19/Jan/2021 00:01:55] "GET /favicon.ico HTTP/1.1" 404 3444#}
{#            [19/Jan/2021 00:02:39] "GET /alunos/aluno-novo/ HTTP/1.1" 200 9452#}
{#            [19/Jan/2021 00:02:39] "GET /static/base/js/dashboard.js HTTP/1.1" 304 0#}
{#            [19/Jan/2021 00:02:39] "GET /static/base/js/scripts.js HTTP/1.1" 304 0#}
{#            [19/Jan/2021 00:02:39] "GET /static/base/images/logo2.png HTTP/1.1" 200 43413#}
{#            [19/Jan/2021 00:07:10] "GET /alunos/aluno-novo/ HTTP/1.1" 200 10040#}
{#            [19/Jan/2021 00:07:10] "GET /static/base/js/dashboard.js HTTP/1.1" 304 0#}
{#            [19/Jan/2021 00:07:10] "GET /static/base/css/dashboard.css HTTP/1.1" 304 0#}
{#            [19/Jan/2021 00:07:10] "GET /static/base/js/scripts.js HTTP/1.1" 304 0#}
{#            [19/Jan/2021 00:07:10] "GET /static/base/images/logo2.png HTTP/1.1" 304 0#}
{#            </div>#}
{#        </div>#}
{#    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>#}
{#</div>#}