    <div class="container container-card-min">
        <div class="row head-card-min">
            <div class="col-md-5 d-flex align-items-center">
                <a class="a-card-min"
                   data-toggle="collapse" href="#a{{ aluno.pk }}" role="button" aria-expanded="false" aria-controls="a{{ aluno.pk }}">
                    {{ aluno.aluno_nome }}
                    <span data-feather="chevron-down"></span>
                </a>
            </div>
            <div class="col-md-1 d-flex align-items-center">
                Idade: {{ aluno.aluno_idade }}
            </div>
            <div class="col-md-4 d-flex align-items-center justify-content-end">
                {% for turma in turmas %}
                    {% if turma.3 == aluno.pk %}
                        {{ turma.0 }} {{ turma.2 }}
                    {% endif %}
                {% endfor %}
           </div>
            <div class="col-md-2 d-flex justify-content-end">
                <a class="button-card-min" href="{% url 'aluno-alterar' aluno.pk %}">Ver</a>
                <a class="ml-2 button-card-min" href="{% url 'aluno-alterar' aluno.pk %}">Alterar</a>
            </div>
        </div>
        <!-- Area Collapse -->
        <div class="collapse pt-3" id="a{{ aluno.pk }}" data-parent="#accordionAluno">
            <div class="row">
                <div class="col-md-4">
                    <p>Idade: {{ aluno.aluno_idade }}</p>
                </div>
                <div class="col-md-4">
                    <p>Data de nascimento: {{ aluno.aluno_data_nascimento }}</p>
                </div>
                <div class="col-md-4">
                    <p>Telefone: {{ aluno.aluno_ddd }} - {{ aluno.aluno_telefone }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Filiação 1: {{ aluno.aluno_filiacao1_nome }}</p>
                </div>
                <div class="col-md-4">
                    <p>Parentesco: {{ aluno.aluno_filiacao1_parentesco }}</p>
                </div>
                <div class="col-md-4">
                    <p>Telefones: {{ aluno.aluno_filiacao1_ddd1 }} - {{ aluno.aluno_filiacao1_telefone1 }} | {{ aluno.aluno_filiacao1_ddd2 }} - {{ aluno.aluno_filiacao1_telefone2 }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Filiação 2: {{ aluno.aluno_filiacao2_nome }}</p>
                </div>
                <div class="col-md-4">
                    <p>Parentesco: {{ aluno.aluno_filiacao2_parentesco }}</p>
                </div>
                <div class="col-md-4">
                    <p>Telefones: {{ aluno.aluno_filiacao2_ddd1 }} - {{ aluno.aluno_filiacao2_telefone1 }} | {{ aluno.aluno_filiacao2_ddd2 }} - {{ aluno.aluno_filiacao2_telefone2 }}</p>
                </div>
            </div>
        </div>
    </div>
