{% extends 'base/_dashboard_base.html' %}
{% block title %}Alunos{% endblock %}
{% block body_title %}Alunos{% endblock %}
{% block main_content %}
    {% for aluno in object_list %}
        <div class="container container-aluno">
            <div class="row head-aluno">
{#                <div class="col-md-5">#}
{#                    <h6><a class="my-0 pl-3" href="#">{{ aluno.aluno_nome }}</a></h6>#}
{#                </div>#}
                <div class="col-md-4">
                    <h6><a class="a-aluno" data-toggle="collapse" href="#collapse-aluno" role="button" aria-expanded="false" aria-controls="collapse-aluno">
                        {{ aluno.aluno_nome }}
                    </a></h6>
                </div>
                <div class="col-md-2">
                    Idade: {{ aluno.aluno_idade }}
                </div>
                <div class="col-md-2">
                    Situação: {{ aluno.get_aluno_situacao_display }}
                </div>
                <div class="col-md-2">
                    Turma: {{ aluno.get_aluno_situacao_display }}
                </div>
                <div class="col-md-2 d-flex justify-content-end">
                    <a href="{% url 'aluno-alterar' aluno.pk %}" class="ml-2 button-aluno">Alterar</a>
                    <a href="{% url 'aluno-delete' aluno.pk %}" class="ml-3 button-aluno del">Apagar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6 class="my-0 pl-3">Body aaaaaaaaaaaaa</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6 class="my-0 pl-3">Body aaaaaaaaaaaaa</h6>
                </div>
            </div>



        </div>

{#        <div class="card mb-3">#}
{#            <div class="row card-header">#}
{##}
{#                    <div class="col-md-6">#}
{#                        <h6>Featured</h6>#}
{#                    </div>#}
{##}
{##}
{#            </div>#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Special title treatment</h5>#}
{#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#            </div>#}
{#        </div>#}

{#        <div class="card mb-3">#}
{#            <div class="card-header">#}
{#            Featured#}
{#            </div>#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Special title treatment</h5>#}
{#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#            </div>#}
{#        </div>#}




{#        <div class="card mb-3">#}
{#            <h5 class="card-header">Featured</h5>#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">Special title treatment</h5>#}
{#                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>#}
{#                <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#            </div>#}
{#        </div>#}
    {% endfor %}
{% endblock %}
