{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'base/_head.html' %}
</head>
<body>
    {% include 'base/_header_principal.html' %}
    {% include 'base/_messages.html' %}

    {% block body_content %}
        {% block body_title %}{% endblock %}
    {% endblock %}
    <!-- Scripts -->
    {% include 'base/_scripts_js.html' %}
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#102d69"
        },
        "button": {
          "background": "#FBBA00"
        }
      },
      "theme": "classic",
      "position": "bottom-right"
    });
    </script>
</body>
</html>
