{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'base/_head.html' %}
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
            <!-- TODO change source for logo -->
            <img class="logo-dash mr-3" src="{% static 'base/images/logo2.png' %}" alt="AN Sistemas">
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap dropdown">
                <a class="nav-link text-white dropdown-toggle px-3" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Body -->
    <div class="container-fluid">
        <div class="row">
            <!-- SideBar -->
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item border-0 m-2 mb-3 rounded-right shadow-sm">
                            <a class="nav-link active" href="{% url 'index-administracao' %}">
                                <span data-feather="home"></span>
                                Início <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown border-0 m-2 rounded-right shadow-sm">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                <span data-feather="users"></span>
                                Alunos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                            </div>
                        </li>
                        <li class="nav-item border-0 m-2 rounded-right shadow-sm">
                            <a class="nav-link" href="#">
                                <span data-feather="file"></span>
                                Diários
                            </a>
                        </li>
                        <li class="nav-item border-0 m-2 rounded-right shadow-sm">
                            <a class="nav-link" href="#">
                                <span data-feather="shopping-cart"></span>
                                Infantil
                            </a>
                        </li>
                        <li class="nav-item border-0 m-2 rounded-right shadow-sm">
                            <a class="nav-link" href="#">
                                <span data-feather="bar-chart-2"></span>
                                Notas
                            </a>
                        </li>
                        <li class="nav-item border-0 m-2 rounded-right shadow-sm">
                            <a class="nav-link" href="#">
                                <span data-feather="layers"></span>
                                Turmas
                            </a>
                        </li>
                    </ul>

                    {% if user.department == 'AD' %}
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Anos letivos anteriores</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                        <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        2020
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        2019
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        2018
                        </a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#">
                        <span data-feather="file-text"></span>
                        2017
                        </a>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </nav>
            <!-- Main -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 class="h2">{% block body_title %}{% endblock %}</h2>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Btn 01</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Btn 02</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            Tarefas
                        </button>
                    </div>
                </div>
                    {% include 'base/_messages.html' %}
                    {% block main_content %}{% endblock %}
            </main>
        </div>
    </div>
    {% include 'base/_scripts_js.html' %}
</body>
</html>

