{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% include 'base/_head.html' %}
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">
            <!-- TODO change source for logo -->
            <img class="logo-dash mr-3" src="{% static 'base/images/logo2.png' %}" alt="AN Sistemas">
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap dropdown">
                <a class="nav-link text-white dropdown-toggle px-3" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.first_name }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Body -->
    <div class="container-fluid">
        <div class="row">
            <!-- SideBar -->
            {% include 'base/_sidebar_'|add:user.department|add:'.html' %}
            <!-- Main -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h2 class="h2">{% block body_title %}{% endblock %}</h2>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Btn 01</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Btn 02</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            Tarefas
                        </button>
                    </div>
                </div>
                <!-- Main Messages -->
                {% include 'base/_messages.html' %}
                <!-- Main Content -->
                {% block main_content %}{% endblock %}
            </main>
        </div>
    </div>
    <!-- Scripts js -->
    {% include 'base/_scripts_js.html' %}
</body>
</html>
