{%  load static %}

<div id="header">

    <div >
        <!-- Nav -->
        <div>
            <!-- Usuario -->
            <div class="usuario">
                {% if user.is_anonymous %}
                    <div>
                    <a class="btn btn-primary shadow-lg mr-1" href="{% url 'login' %}">
                        Login
                    </a>
                    </div>
                {% else %}

                    <a class="btn btn-primary shadow-lg mr-1" href="{% url 'logout' %}">
                        Sair
                    </a>

                    <a class="btn btn-primary shadow-lg mr-1" href="{% url 'index-secretaria' %}">
                        Cadastro de Aluno(a)
                    </a>

                {% endif %}
            </div>
        </div>
    </div>

</div>