<!-- Full Page Image Header with Vertically Centered Content -->
<header id="intro">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-6 text-center">
            </div>
            <div class="col-6 col-principal text-center">
                <h1 class="font-weight-light text-white">Gestão Escolar</h1>
                <p class="lead text-white">Sistema ainda em desenvolvimento.</p>
                <p class="lead text-white">Seja bem vindo(a), entre e faça login para usar o sistema.</p>
                <p class="lead text-white">Usuário: teste<br>Senha: testeuso</p>
            </div>
        </div>
    </div>
</header>
