<div>
    <nav>
        <ul class="pagination my-5">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Início">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Início</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                <span aria-hidden="true">Anterior</span>
                <span class="sr-only">Anterior</span>
                </a>
            </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                <li class="page-item active"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Próxima">
                    <span aria-hidden="true">Próxima</span>
                    <span class="sr-only">Próxima</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Ultima">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Ultima</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
