{% extends 'base/_dashboard_base.html' %}
{% block title %}Apagar Professor(a){% endblock %}
{% block body_title %}Apagar Professor(a){% endblock %}
{% block main_content %}
    <div class="container bg-light back02">
        <h2>{{ object.professor_nome }}</h2>
        <p>
        Tem a certeza que deseja eliminar toda a informação sobre este Professor(a) da base de dados?
        <br>
        Todos os dados serão removidos.
        </p>
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn button-del px-4 shadow-lg mr-2">Sim</button>
                <a class="btn btn-dark-blue px-4 shadow-lg" onclick="history.back();">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}